<div id="loginDialog" data-ng-controller="AuthLoginCtrl">
	<span>{{ message }}</span>
	<form data-ng-submit="submit(credentials)">
		<input data-ng-model="credentials.username" type="text" name="username" placeholder="Username" />
		<input data-ng-model="credentials.password" type="password" name="password" placeholder="Password" />
		<input type="submit" value="Login" />
	</form>
</div>

<ul>
	<li>Access Token: {{ $storage.access_token }}</li>
	<li>Access Type: {{ $storage.token_type }}</li>
	<li>Expires in: {{ $storage.expires_in }}s</li>
	<li>Expires: {{ $storage.expires }}</li>
</ul>
