<div id="loginDialog" data-ng-controller="AuthLoginCtrl">
	<img src="assets/images/utag_logo.svg" alt="uTag" title="" id="login-logo" width="200" />
	<h2 id="login-title">Login</h2>
	<span>{{ message }}</span>
	<form data-ng-submit="submit(credentials)">
		<input data-ng-model="credentials.username" type="text" name="username" placeholder="Username" class="login-field" id="login-username" />
		<input data-ng-model="credentials.password" type="password" name="password" placeholder="Password" class="login-field" id="login-pw" />
	</form>
	<button data-ng-click="logout">fuck</button>
</div>
<!--ul>
	<li>Access Token: {{ $storage.access_token }}</li>
	<li>Access Type: {{ $storage.token_type }}</li>
	<li>Expires in: {{ $storage.expires_in }}s</li>
	<li>Expires: {{ $storage.expires }}</li>
</ul-->
