<div id="registerDialog" ng-controller="AuthRegisterCtrl">
	<h2>Register a new account</h2>
	<span>{{ message }}</span>
	<div class="register-formContainer">
		<form ng-submit="submit(user)">
			<input ng-model="user.username" type="text" name="username" placeholder="Username" />
			<input ng-model="user.email" type="text" name="email" placeholder="Email" />
			<input ng-model="user.password" type="password" name="password" placeholder="Password" />
			<input type="submit" value="Register" />
		</form>
	</div>
</div>

<!--ul>
	<li>Access Token: {{ $storage.access_token }}</li>
	<li>Access Type: {{ $storage.token_type }}</li>
	<li>Expires in: {{ $storage.expires_in }}s</li>
	<li>Expires: {{ $storage.expires }}</li>
</ul-->