.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

h2 {
    line-height: 1em;
    font-size: 3em;
}

.container, .content {
    height: 100%;
}

.content {
    position: relative;
}

.footer {
    position: fixed;
    height: 0;
}
