body {
	font-family: OpenSans, sans-serif;
}

h2 {
	font-weight: 200;
}

.sectionHeader {
	background-color: #EEEEEE;
}

input {
	font-family: inherit;
}

.searchContainer {
	margin: 10px 4px;
	max-width: 300px;
	border-radius: 20px;
	padding: 0px 10px 0px 27px;
	border: 1px rgba(0, 0, 0, 0.4) solid;
	background: url('assets/images/magnifying_glass_icon.svg');
	background-size: 17px;
	background-repeat: no-repeat;
	background-position: 7px 4px;
}

.searchContainer input {
	border: none;
	width: 100%;
}

.form-message {
	display: block;
	margin: 6px 0px 10px 0px;
	line-height: 5px;
	font-size: 19px;
    -webkit-animation: form-message-animated 3s ease forwards;
}
.form-message-animated {
    color: #FF5500;
}
@-webkit-keyframes form-message-animated {
    from { color: #FF5500; }
    to { color: #000000; }
}