		<div id="siteMain">
			<div id="tags">
				<div id="tagsHeader" class="sectionHeader">
						<h2 class="sectionTitle">
							Tags
						</h2>
						<div class="inputContainer searchContainer">
							<input data-ng-model="tagKeywords" data-ng-change="searchTags()" type="search" name="keywords" autofocus id="tagSearch" placeholder="Search Tags..." />
						</div>
				</div>
				<div class="scrollContainer">
					<div class="pool poolSearchTags">
						<div data-ng-repeat="tag in tags | orderBy:'name'">
							<div data-utag-tag data-tag="tag" data-ng-click="selectTag(tag)" class="tag" draggable="true"></div>
						</div>
					</div>
				</div>
			</div>

			<div id="things">
				<div id="thingsHeader" class="sectionHeader">
					<h2 class="sectionTitle">
						Things
					</h2>
					<div id="things-toolbar">
						<div class="inputContainer searchContainer" ondragover="demoDragover(event)">
							<input data-ng-model="thingKeywords" data-ng-change="searchThings()" type="text" autofocus id="thingSearch" placeholder="Search things..." />
						</div>
						<button id="things-clearFilterButton" data-ng-click="clearSelectedTags()">Clear tag filter</button>
						<div class="pool poolFilterTags">
								<div class="tagContainer" data-ng-repeat="tag in selectedTags | orderBy:'name' track by tag.id">
									<div data-utag-tag data-tag="tag" data-ng-click="deselectTag(tag)" class="tag" draggable="true"></div>
								</div>
							</div>
						</div>
					</div>
				<div class="scrollContainer">
					<!--  | filter:thingsFilter:things:filteredTags -->
					<div data-ng-repeat="thing in filteredThings | orderBy:'name'" data-ng-include="'/utag/things/thing.html'"></div>
				</div>
			</div>
		</div>
