.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

h2 {
    line-height: 1em;
    font-size: 3em;
}

html, body, .container, .content {
    height: 100%;
}

.content {
    position: relative;
}

// horizontalLayout

#things {
    position: absolute;
    left: 0px;
    top: 0px;
    bottom: 0px;
    right: 50%;
    border-right: 5px #4499FF solid;
}

#tags {
    position: absolute;
    right: 0px;
    top: 0px;
    bottom: 0px;
    left: 50%;
    border-left: 5px #4499FF solid;
}

.sectionHeader {
    position: absolute;
    width: 100%;
    box-sizing: border-box;
    padding: 0.5em;
    height: 10em;
}

#searchContainer {
    position: absolute;
    top: 10em;
    left: 0px;
    width: 100%;
    background: linear-gradient(to bottom, #7F7F7F, #777777);
    display: block;
    z-index: 100000;
    text-align: center;
    padding: 0.3em;
}

#search {
    display: inline-block;
    width: 50%;
    height: 2em;
    padding: 0.4em;
    box-sizing: border-box;
    font-size: 1.5em;
}

.footer {
    position: fixed;
    height: 0;
}
