.resource {
	border: 1px rgba(0, 0, 0, 0.3) solid;
	background: linear-gradient(to bottom, rgba(100, 150, 255, 0.06), rgba(0, 25, 50, 0.06));
	padding: 5px;
	margin: 10px 5px;

	&:hover {
		border-color: rgba(0, 0, 0, 0.5);
	}

	h3 {
		display: inline-block;
		font-size: 1.5em;
		margin: 5px 5px 0px 5px;
		max-width: 45%;
		text-overflow: ellipsis;
		white-space: nowrap;
		overflow: hidden;
		height: 1.2em;
		line-height: 1em;
	}

	a {
		display: inline-block;
		float: right;
		font-weight: 200;
		text-decoration: none;
		margin-right: 5px;
		color: #0000FF;
		max-width: 45%;
		text-overflow: ellipsis;
		white-space: nowrap;
		overflow: hidden;
	}

	a:hover {
		text-decoration: underline;
	}

	a:visited {
		color: #0000FF;
	}

	.tagDropIndicator {
		display: inline-block;
		font-size: 1.5em;
		font-weight: 200;
		height: 20px;
		width: 20px;
		border: 1px rgba(0, 0, 0, 0.3) solid;
		padding: 5px;
		text-align: center;
	}
}
