.dr-c-togglable{
	border: 1px rgba(0, 0, 0, 0.3) solid;
	background: linear-gradient(to bottom, rgba(250, 250, 250, 0.3), rgba(200, 200, 200, 0.3));
	border-radius: 5px;
	margin: 8px;
	padding: 15px;
	cursor: pointer;
}

.dr-c-togglable:hover{
	border: 1px rgba(0, 0, 0, 0.8) solid;
}

.dr-c-togglable[data-toggled="true"]{
	border: 1px rgba(0, 0, 0, 0.5) solid;
	background: linear-gradient(to bottom, rgba(255, 255, 255, 1), rgba(240, 240, 240, 1));
}
