#things {
	.tag {
		display: inline-block;
		padding: 0px 10px 0px 20px;
		margin: 2px;
		div {
			margin-left: -14px;
		}

		&.dropIndicator {
			display: none;
			border-style: dashed;
			color: rgba(0, 0, 0, 0.5);
		}
	}
	.thing:drag-over .tag.dropIndicator {
		display: inline-block;
	}
}

.tag,
tags-input .tags .tag-item {
	border: 1px rgba(0, 0, 0, 0.4) solid;
	background: linear-gradient(to bottom, rgba(255, 255, 255, 0.1), rgba(0, 0, 0, 0.1));
	border-radius: 30px 5px 5px 30px;
	padding: 3px 10px 3px 20px;
	margin: 0px 4px 6px 4px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	cursor: pointer;

	&:hover {
		border-color: rgba(0, 0, 0, 0.8);
		background: linear-gradient(to bottom, rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 0.075));
		box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.1);
	}

	div {
		height: 12px;
		width: 12px;
		border-radius: 10px;
		border: inherit;
		background-color: #FFFFFF;
		display: inline-block;
		margin: 0 4px 0 -12px;
		background-clip: content-box;
	}
}

tags-input .tags .tag-item {
	height: 25px;
	line-height: 0px;
	margin: 2px 2px 1px;
}

.tagContainer{
	display: inline-block;
}

.poolFilterTags .tag{
	display: inline-block;
}