  	<div id="things">
      <div id="thingsHeader" class="sectionHeader">
          <h2 class="sectionTitle">
              Things
          </h2>
          <div class="inputContainer searchContainer" ondragover="demoDragover(event)">
              <input type="text" autofocus id="thingSearch" placeholder="Search things..." />
          </div>
      </div>
			<div class="scrollContainer">
				<div class="thing" ondragover="demoDragover(event)">
					<h3>New HTML5 ants discovered</h3>
					<a href="#" target="_blank">fakenewsdaily.com/2014/10/html5-ants-discovered</a>
					<hr />
					<div class="tag" style="background-color: rgba(255, 128, 0, 0.15);" draggable="true"><div></div>
						Ants
					</div>
					<div class="tag" style="background-color: rgba(0, 128, 255, 0.15);" draggable="true"><div></div>
						Development
					</div>
					<div class="tag" style="background-color: rgba(0, 0, 255, 0.15);" draggable="true"><div></div>
						HTML5
					</div>
					<div class="tag" style="background-color: rgba(128, 255, 0, 0.15);" draggable="true"><div></div>
						Science
					</div>
					<div class="tag dropIndicator"><div></div>
						Add tag
					</div>
				</div>
				<div class="thing" ondragover="demoDragover(event)">
					<h3>MDN: CSS3 Gradients</h3>
					<a href="https://developer.mozilla.org/en-US/docs/Web/Guide/CSS/Using_CSS_gradients" target="_blank">developer.mozilla.org/en-US/docs/Web/Guide/CSS/Using_CSS_gradients</a>
					<hr />
					<div class="tag" style="background-color: rgba(0, 128, 255, 0.15);" draggable="true"><div></div>
						Development
					</div>
					<div class="tag" style="background-color: rgba(0, 0, 255, 0.15);" draggable="true"><div></div>
						HTML5
					</div>
					<div class="tag" style="background-color: rgba(255, 255, 0, 0.15);" draggable="true"><div></div>
						MDN
					</div>
				</div>
				<div class="thing" ondragover="demoDragover(event)">
					<h3>Left Handed Words</h3>
					<a href="https://gist.github.com/RolandR/10019868" target="_blank">gist.github.com/RolandR/10019868</a>
					<hr />
					<div class="tag" style="background-color: rgba(128, 255, 0, 0.15);" draggable="true"><div></div>
						Science
					</div>
				</div>
				<div class="thing" ondragover="demoDragover(event)">
					<h3>uTag Repository on Github</h3>
					<a href="https://github.com/wallcreeper/ch.bfh.bti7054.w2014.q.uTag" target="_blank">github.com/wallcreeper/ch.bfh.bti7054.w2014.q.uTag</a>
					<hr />
					<div class="tag" style="background-color: rgba(0, 128, 255, 0.15);" draggable="true"><div></div>
						Development
					</div>
					<div class="tag" style="background-color: rgba(0, 0, 255, 0.15);" draggable="true"><div></div>
						HTML5
					</div>
					<div class="tag" style="background-color: rgba(255, 0, 255, 0.15);" draggable="true"><div></div>
						Github Repositories
					</div>
				</div>
				<div class="thing" ondragover="demoDragover(event)">
					<h3>This title is like waaaay too long Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</h3>
					<a href="https://github.com/wallcreeper/ch.bfh.bti7054.w2014.q.uTag" target="_blank">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</a>
					<hr />
					<div class="tag" style="background-color: rgba(0, 255, 255, 0.15);" draggable="true"><div></div>
						This tag is like waaay too long and it won't fit on the left side
					</div>
				</div>

				<div data-ng-repeat="thing in things | orderBy:'name'" class="thing" ondragover="demoDragover(event)">
					<h3>{{thing.name}}</h3>
					<!-- Here further thingable-types have to be implemented if there will be any further -->
					<a data-ng-if="thing.thingable.uri" href="{{thing.thingable.uri}}" target="_blank">{{thing.thingable.uri}}</a>
					<hr />
					<div>{{thing.description}}</div>
					<hr />
					<div data-ng-repeat="tag in thing.tags | orderBy:'name'" class="tag" style="background-color:rgba(1{{tag.id}}, {{tag.id}}, 20{{tag.id}}, 0.15);" draggable="true"><div></div>
						{{tag.name}}
					</div>
				</div>
			</div>
		</div>
