<div class="thing-options">
	<button data-ng-click="showThingDetailView(thing.id)">Edit</button>
	|
	<button data-ng-click="deleteThing(thing.id)">Delete</button>
</div>
<h3>{{thing.name}}</h3>
<!-- Here further thingable-types have to be implemented if there will be any further -->
<a data-ng-if="thing.thingable.uri" href="{{thing.thingable.uri}}" target="_blank">{{thing.thingable.uri}}</a>
<hr />
<div>{{thing.description}}</div>
<hr />
<div class="tagContainer" data-ng-repeat="tag in thing.tags | orderBy:'name'" data-ng-click="showTagDetailView(tag.id)" data-ng-include="'/utag/tags/tag.html'">
</div>
