.thing {
	border: 1px rgba(0, 0, 0, 0.3) solid;
	background: linear-gradient(to bottom, rgb(237,246,255), rgb(245,245,255));
	padding: 5px;
	margin: 0px 5px 10px 5px;
	position: relative;

	&:hover {
		border-color: rgb(50, 50, 50);
	}

	h3 {
		display: inline-block;
		font-size: 1.5em;
		margin: 5px 5px 0px 5px;
		max-width: 45%;
		text-overflow: ellipsis;
		white-space: nowrap;
		overflow: hidden;
		height: 1.2em;
		line-height: 1em;
	}

	a {
		display: inline-block;
		float: right;
		font-weight: 200;
		text-decoration: none;
		margin-right: 5px;
		color: #0000FF;
		max-width: 45%;
		text-overflow: ellipsis;
		white-space: nowrap;
		overflow: hidden;
	}

	a:hover {
		text-decoration: underline;
	}

	a:visited {
		color: #0000FF;
	}

	.tagDropIndicator {
		display: inline-block;
		font-size: 1.5em;
		font-weight: 200;
		height: 20px;
		width: 20px;
		border: 1px rgba(0, 0, 0, 0.3) solid;
		padding: 5px;
		text-align: center;
	}

	.tagContainer{
		display: inline-block;
	}

	.thing-options{
		visibility: hidden;
		position: absolute;
		top: 0px;
		border: 1px rgb(50, 50, 50) solid;
		border-bottom: none;
		background: rgb(237,246,255);
		height: 0px;
		overflow: hidden;
		padding: 5px;
		left: 7px;

		transition: height, top;
		transition-duration: 150ms;
	}
}

.thing:hover{
	.thing-options{
		visibility: visible;
		height: 31px;
		top: -31px;
	}
}
